/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');
body, h2, h3, h4, h5, h6, input, textarea {
  color: #24292F;
	font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

section a {
  color: #00C8C8;
}

pre, code, input, textarea, button{
  font-size: 14px;
  line-height: 1.2em;
}

/* basis */
html{
  height: -webkit-fill-available;
}

body {
  background: #FFFFFF;
  margin: 0;
  padding-top: 64px;
  padding-left: calc((100vw - 800px) / 2);
  padding-right: calc((100vw - 800px) / 2);
  padding-bottom: 64px;
  box-sizing: border-box;
  min-height: 100vh;
  min-height: -webkit-fill-available;
	overflow-x: hidden;
}

header {
  z-index: 2;
  color: #24292F;
  background: #FFFFFFCC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
	top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 64px;
  line-height: 20px;
  padding-top: 18px;
  padding-left: calc((100vw - 800px) / 2);
  padding-right: calc((100vw - 800px) / 2);
  padding-bottom: 14px;
  box-sizing: border-box;
}

header .logo {
  color: #24292F;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img{
  width: 28px;
  height: 28px;
  padding-right: 3px;
}

header .logo h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
}

header .logo h1 span {
  padding-left: 5px;
  line-height: 1em;
  color: #00C8C8;
  /* background: linear-gradient(90deg, rgba(0,255,200,1) 0%, rgba(0,200,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

header .menu img {
  width: 28px;
  height: 28px;
}

main {
  z-index: 2;
  position: relative;
  min-height: calc(100vh - 128px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer{
  z-index: 2;
  position: relative;
  color: rgba(0, 0, 0, 0.54);
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
  justify-content: center;
  height: 64px;
  margin-bottom: -64px;
  box-sizing: border-box;
}

@media screen and (max-width:840px) {
  body {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  body, header {
    padding-left: 20px;
    padding-right: 20px;
  }
  header {
    height: 60px;
    padding-top: 16px;
  }
  footer {
    height: 60px;
    margin-bottom: -60px;
  }
  main {
    min-height: calc(100vh - 120px);
  }
}

/* main */

.section--1 {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--2 {
  padding-bottom: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section--3 {
  padding-bottom: 50px;
  max-width: 600px;
  text-align: justify;
}

@media screen and (max-width:840px) {
  .section--2 {
    padding-bottom: 20px;
  }
  .section--3 {
    padding-bottom: 0;
  }
}

.qrcode-wrapper {
  background: #FFFFFFCC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 200px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0;
  border-radius: 10px;
  transition: 0.2s;
}

.qrcode-wrapper:focus-within {
  background: #FFFFFFDD;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  border-radius: 40px;
  transition: 0.3s;
}

.qrcode-wrapper:focus-within input {
  color: #00C8C8;
}

#qrcode {
  width: 200px;
}

input {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  resize: vertical;
  background: none;
}

button {
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  line-height: 20px;
  box-sizing: border-box;
  background: #00C8C8CC;
  color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
}